.navbar{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    padding: 25px 5%;
}
ul{
    flex: 1;
    list-style: none;
    text-align: center;
    margin-right: 600px;
}

ul li{
    display: inline-block;
    margin: 15px 20px;
    font-size: 17px;
    cursor: pointer;
    color: black;
}
@media screen and (max-width: 767px){
    .navbar {
        width: 1414px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px){
    .navbar{
        width: 1418px;
    }
}
@media (min-width: 1024px){
    .navbar{
        width: 1449px;
    }
}
